.mensMinistry {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5vh 0 0 0;
  padding: 20px;
  .imLogo {
    width: 70%;
  }
  .row {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5vh 0 5vh 0;

    h3 {
      text-align: center;
    }
  }
  .events {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50vh, 1fr));
    margin: 0 0 15vh 0;
  }
  .event {
    background-position: center;
    padding: 0;
    width: 100%;
    margin: 3vh 0 0 0;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    .eventDetails {
      display: flex;
      margin: 2vh 0 0 0;
      flex-direction: column;
      align-items: center;

      p {
        width: 70%;
      }
    }

    .imageFeature {
      width: 60%;
      height: 30vh;
      max-height: 373px;
      overflow: hidden;
      border-radius: 15px;
    }
  }
}
@media screen and (max-width: 768px) {
  .mensMinistry {
    .imLogo {
      width: 100%;
    }
    .row {
      width: 100%;
      flex-direction: column-reverse;
      p {
        width: 98%;
      }
    }
    .event {
      margin: 3vh 0 0 0;

      .eventDetails {
        width: 100%;
        padding: 20px;
        p {
          width: 90%;
        }
      }
      .imageFeature {
        width: 100%;
        height: auto;
        border-radius: 0px;
      }
    }
  }
}
