.faqList {
  margin: 5vh 0 0 0;

  h3 {
    text-align: center;
    font-size: 1.75em;
  }

  &.vertical {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    width: 75%;
  }

  &.compact {
    display: grid;
    grid-template-columns: repeat(2, 40vw);
    gap: 50px;
    grid-template-rows: 1fr;
  }

  &Item {
    font-size: 0.7em;
    margin-top: 1vh;
  }
}
@media screen and (max-width: 900px) {
  .faqList {
    &.compact {
      width: 95%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0px;
    }
  }
}
